In [1]:
from random import gauss
from statistics import mean, stdev
import numpy as np
import math

# Distribuição Amostral

In [2]:
# Suponha que a variável altura tenha distribuição normal com média 1.7 e desvio padrão 0.1
média = 1.7 #média populacional
sigma = 0.1 # #desvio padrão populacional (raiz da variância)

# Vamos gerar uma amostra dessa distribuição de tamanho 100

n = 100 #tamanho da amostra

In [3]:
# Gerando uma amostra de dados provenientes de uma normal com a média e desvio padrão estabelecidos no código acima.
valores = [gauss(média, sigma) for i in range(0,n)] 
print(valores)

[1.8595678771292516, 1.7703487241772227, 1.57434201724654, 1.7203405528964841, 1.4794493798230741, 1.6310539270398632, 1.8050060016797773, 1.7826959919580085, 1.6812718797603756, 1.7916485057842986, 1.568968129768294, 1.5012705412317882, 1.6993760891972383, 1.7008090545497216, 1.7011121312953001, 1.5989282354931027, 1.8062945060837385, 1.5868513377124134, 1.843917705435351, 1.8651021312785065, 1.7443078497124218, 1.8187544449452684, 1.5113325346101047, 1.8231426440196923, 1.5816433099316551, 1.8000709404911273, 1.6930229666455194, 1.6219375148906459, 1.6143064232679802, 1.5424677259394584, 1.7503912779103288, 1.851853508259037, 1.8367945687587597, 1.6206551592392695, 1.654206740821638, 1.4600784666505058, 1.6828111627346227, 1.7247363369803446, 1.8087498321666309, 1.7507837503522194, 1.7292730760773427, 1.6433486623607616, 1.5332460489275423, 1.7690941171819605, 1.6041555281145674, 1.7041625346228044, 1.7347930996759868, 1.648599412907192, 1.6704314052532578, 1.7384926410479569, 1.5693633120992245, 1.707211338960179, 1.5479544330762702, 1.9182700998617905, 1.7152793953765513, 1.6973567990385585, 1.6250325899790554, 1.6993193439399825, 1.8401840041486093, 1.6945174145824973, 1.736318889069494, 1.6744827740390107, 1.4755171809906342, 1.6454172361951978, 1.8116797245628231, 1.6654167851188815, 1.7372725379641116, 1.7465449963683595, 1.8683109847014125, 1.4799291818713827, 1.6298345102599525, 1.6355370406570213, 1.8249632566860665, 1.638710590769988, 1.7607008778337303, 1.638452122780617, 1.7113674771955498, 1.8181399431095708, 1.5788592566823028, 1.913618885209345, 1.671327217283599, 1.7475340046005365, 1.7419379617087136, 1.7546373891126525, 1.7251898605753078, 1.5944843642545818, 1.7752581592336105, 1.611161540469261, 1.7424308005427327, 1.7710374816805488, 1.8873027396616935, 1.6184028110734334, 1.6379768071479004, 1.5978856028758845, 1.7936624085355133, 1.7027452160235803, 1.8235831544800283, 1.8637188003253238, 1.753787264108283, 1.7450060888307166]

In [4]:
mean(valores) #média amostral

1.7020063105968903

In [5]:
np.var(valores) # variancia amostral

0.010968151574341063

In [6]:
sigma/np.sqrt(n) #Desvio padrão populacional/ raiz do tamanho da amostra = variancia amostral

0.01

# Valor tabelado - Tabela Z

In [7]:
import scipy.stats as st
import numpy as np

#stats.norm.ppf(1 - alpha) (use alpha = alpha/2 for two-sided)

Confianca = 1 - (0.05/2) #Bilateral 
print(st.norm.ppf(Confianca)) # Valor Z - 95% de confiança, alpha = 0.05 

Confianca = 1 - (0.05) #Unilateral (não divide por 2 ) 
print(st.norm.ppf(Confianca)) # Valor Z - 95% de confiança, alpha = 0.05

1.959963984540054
1.6448536269514722

# Intervalo de confiança Z

# Exemplo pacotes de café

In [8]:
import scipy.stats as st

amostra_cafe = [501.58, 505.3, 497.62, 511.23, 502.13, 498.45, 496.38, 498.44, 498.45, 488.0, 508.1, 493.79, 505.24,
                492.62, 518.15, 488.77, 495.19, 510.56, 477.39, 508.69, 488.84, 503.39, 499.12, 511.97, 484.84]

média_amostral = mean(amostra_cafe)
desvio_populacional = np.sqrt(100) #desvio padrão populacional (raiz da variância)
n = len(amostra_cafe)
nivel_confianca = 0.95

print("O tamanho da amostra é de: ", n, " pacotes de café.")
print("A média amostral é: ",média_amostral)


IC_media = st.norm.interval(nivel_confianca, loc=média_amostral, scale=desvio_populacional/np.sqrt(n))

print("O intervalo de ", nivel_confianca*100 ,
      "% confiança para a quantidade média de gramas nos pacotes de café é de: ", [round(num,2) for num in IC_media])

O tamanho da amostra é de:  25  pacotes de café.
A média amostral é:  499.3696
O intervalo de  95.0 % confiança para a quantidade média de gramas nos pacotes de café é de:  [495.45, 503.29]

# Teste de Normalidade dos dados

In [9]:
import scipy.stats as st

amostra_cafe = [501.58, 505.3, 497.62, 511.23, 502.13, 498.45, 496.38, 498.44, 498.45, 488.0, 508.1, 493.79, 505.24,
                492.62, 518.15, 488.77, 495.19, 510.56, 477.39, 508.69, 488.84, 503.39, 499.12, 511.97, 484.84]

significancia = 0.01 

from scipy.stats import normaltest 
stat_test, p_valor = normaltest(amostra_cafe) #Testando a normalidade dos dados - se p-valor > alfa (5%) os dados possuem dist. normal

print('Teste de normalidade dos dados')

if(p_valor <= significancia): 
    print('Rejeitamos a Hipótese Nula - Os dados não possuem dist. Normal')
    print('P-valor: ', round(p_valor,2), '<= nível de significancia (alfa):',  round(significancia,2))

else:
    print('Não rejeitamos a Hipótese Nula - Os dados possuem dist. Normal')
    print('P-valor: ', round(p_valor,2), '> nível de significancia (alfa):',  round(significancia,2))

Teste de normalidade dos dados
Não rejeitamos a Hipótese Nula - Os dados possuem dist. Normal
P-valor:  0.86 > nível de significancia (alfa): 0.01

# Teste de Hipótese

In [10]:
 
media_H0 = 500
media_amostral = mean(amostra_cafe)
significancia = 0.01 
variancia_populacional = 400 #desvio padrão populacional (raiz da variância)
n = len(amostra_cafe)

print("O tamanho da amostra é de: ", n, " pacotes de café.")
print("A média amostral é: ",média_amostral)
print("O variância populacional é de: ", variancia_populacional) 
      
print('-----------------------------------------------------------------------------------------')

print('Teste de Hipótese')

z = (media_amostral - media_H0)/(np.sqrt(variancia_populacional/n)) #  Estatística de Teste
regiao_critica = st.norm.ppf(significancia/2) # Rejeita se <-regiao_critica ou > regiao_critica

print('z =',  round(z,3) , 'Região crítica =',  round(regiao_critica,3))

if(z <= regiao_critica):
    print('Rejeitamos a Hipótese Nula - A máquina esta desregulada')

elif(z >= -regiao_critica): 
    print('Rejeitamos a Hipótese Nula - A máquina esta desregulada.')

else:
    print('Não rejeitamos a Hipótese Nula - - A máquina esta regulada.')

O tamanho da amostra é de:  25  pacotes de café.
A média amostral é:  499.3696
O variância populacional é de:  400
-----------------------------------------------------------------------------------------
Teste de Hipótese
z = -0.158 Região crítica = -2.576
Não rejeitamos a Hipótese Nula - - A máquina esta regulada.

# Valor tabelado - Tabela T

In [11]:
#find T critical value
Confianca = 1 - (0.10/2) # Bilateral
st.t.ppf(q=Confianca,df=19) #df = graus de liberdade

1.729132811521367

# Intervalo de confiança t

In [12]:
média = 10
s = 1.5
n = 20

#95% 
print(st.t.interval(0.95, df = n -1,  loc=média, scale=s/np.sqrt(n)))

#90%
print(st.t.interval(0.90, df = n -1,  loc=média, scale=s/np.sqrt(n)))

(9.297978390370137, 10.702021609629863)
(9.420031223696933, 10.579968776303065)

# Exemplo IC da idade média ao falar

In [13]:
import scipy.stats as st

amostra_criancas = [1.71, 1.06, 1.68, 2.12, 2.17, 2.71, 1.02, 2.62, 2.15,
                2.22, 2.1, 1.97, 1.44, 2.48, 1.45, 2.3, 1.73, 1.0, 2.36, 0.8]

media_amostral = mean(amostra_criancas)
desvio_amostral = np.std(amostra_criancas) #desvio padrão AMOSTRAL 
n = len(amostra_criancas)

print("O tamanho da amostra é de: ", n, " crianças.")
print("A média amostral é: ", round(media_amostral,1) ,'anos')
print("O desvio padrão amostral é: ", round(desvio_amostral,1)  ,'anos')

#IC de 95% de confiança  
nivel_confianca = 0.95
IC_media_95 = st.t.interval(nivel_confianca, df = n-1,  loc=media_amostral, scale=desvio_amostral/np.sqrt(n))

print("O intervalo de ", nivel_confianca*100 ,
      "% confiança para a idade média ao falar das crianças é de: ", [round(num,2) for num in IC_media_95])

Amplitude = IC_media_95[1] - IC_media_95[0]
#IC de 90% de confiança  
nivel_confianca = 0.90
IC_media_90 = st.t.interval(nivel_confianca, df = n-1,  loc=media_amostral, scale=desvio_amostral/np.sqrt(n))

print("O intervalo de ", nivel_confianca*100 ,
      "% confiança para a idade média ao falar das crianças é de:", [round(num,2) for num in IC_media_90])

O tamanho da amostra é de:  20  crianças.
A média amostral é:  1.9 anos
O desvio padrão amostral é:  0.6 anos
O intervalo de  95.0 % confiança para a idade média ao falar das crianças é de:  [1.59, 2.12]
O intervalo de  90.0 % confiança para a idade média ao falar das crianças é de: [1.64, 2.07]

In [14]:
# Quanto maior o nível de confiança, maior a amplitude do intervalo
print(IC_media_95[1] - IC_media_95[0])
print(IC_media_90[1] - IC_media_90[0])

0.5211459676885142
0.4305400076144994

# Exemplo cigarro

In [16]:
amostra_cigarro =  [33.81, 31.9, 30.15, 27.55, 32.87, 36.74, 31.75, 30.06, 34.3,
                    33.09, 32.87, 32.25, 32.1, 31.91, 31.13, 30.18, 33.0, 37.04, 
                    34.62, 37.12, 33.3, 33.31, 30.91, 28.94, 33.51, 30.68, 31.99, 
                    32.12, 31.64, 28.13, 29.21, 31.8, 32.52, 30.24, 30.57]


media_amostral = mean(amostra_cigarro)
desvio_amostral = np.std(amostra_cigarro) #desvio padrão AMOSTRAL 
n = len(amostra_cigarro)

print("O tamanho da amostra é de: ", n, " cigarros.")
print("A média amostral é: ", round(media_amostral,1) ,'mg')
print("O desvio padrão amostral é: ", round(desvio_amostral,1)  ,'mg')

nivel_significancia = 0.05 

from scipy.stats import normaltest 
stat_test, p_valor = normaltest(amostra_cigarro) #Testando a normalidade dos dados - se p-valor > alfa (5%) os dados possuem dist. normal

print('Teste de normalidade dos dados')

if(p_valor <= significancia): 
    print('Rejeitamos a Hipótese Nula - Os dados não possuem dist. Normal')
    print('P-valor: ', round(p_valor,2), '<= nível de significancia (alfa):',  round(nivel_significancia,2))

else:
    print('Não rejeitamos a Hipótese Nula - Os dados possuem dist. Normal')
    print('P-valor: ', round(p_valor,2), '> nível de significancia (alfa):',  round(nivel_significancia,2))

O tamanho da amostra é de:  35  cigarros.
A média amostral é:  32.1 mg
O desvio padrão amostral é:  2.2 mg
Teste de normalidade dos dados
Não rejeitamos a Hipótese Nula - Os dados possuem dist. Normal
P-valor:  0.43 > nível de significancia (alfa): 0.05

In [17]:
from scipy.stats import t as t_student

media_H0 = 30
media_amostral = mean(amostra_cigarro)
desvio_amostral = np.std(amostra_cigarro) #desvio padrão AMOSTRAL 
n = len(amostra_cigarro)
graus_de_liberdade = n -1 

print('Teste de Hipótese')

t = (media_amostral - media_H0) / (desvio_amostral / np.sqrt(n))
regiao_critica = - t_student.ppf(nivel_significancia, graus_de_liberdade) # Rejeita se t > regiao_critica

print('t =',  round(t,3) , 'Região crítica =',  round(regiao_critica,3))

if(t > regiao_critica): 
    print('Rejeitamos a Hipótese Nula - Os cigarros contém mais do que 30 mg de nicotina.')

else:
    print('Não rejeitamos a Hipótese Nula - Os cigarros contém até 30 mg de nicotina.')

Teste de Hipótese
t = 5.615 Região crítica = 1.691
Rejeitamos a Hipótese Nula - Os cigarros contém mais do que 30 mg de nicotina.

# Teste de Hipótese para uma amostra usando função pronta

In [18]:
amostra_cigarro =  [33.81, 31.9, 30.15, 27.55, 32.87, 36.74, 31.75, 30.06, 34.3,
                    33.09, 32.87, 32.25, 32.1, 31.91, 31.13, 30.18, 33.0, 37.04, 
                    34.62, 37.12, 33.3, 33.31, 30.91, 28.94, 33.51, 30.68, 31.99, 
                    32.12, 31.64, 28.13, 29.21, 31.8, 32.52, 30.24, 30.57]


media_H0 = 30

t_statistic, p_value = st.ttest_1samp(a=amostra_cigarro, popmean=media_H0, alternative='greater')
print('Estatística de teste:',  round(t_statistic,2) ,'e P=valor:',   round(p_value,2)) 

if(p_value < nivel_significancia): 
    print('Rejeitamos a Hipótese Nula - Os cigarros contém mais do que 30 mg de nicotina.')

else:
    print('Não rejeitamos a Hipótese Nula - Os cigarros contém até 30 mg de nicotina.')

Estatística de teste: 5.53 e P=valor: 0.0
Rejeitamos a Hipótese Nula - Os cigarros contém mais do que 30 mg de nicotina.

# Teste de Hipótese duas amostras

### Teste amostras independentes

## <font color='red'>Problema</font>

Dataset contém informações de 32 alunos da rede publica e privada. Queremos verificar se exisre diferença na nota média de Biologia para alunos que sentam na frente ou no fundo.

In [19]:
import pandas as pd

dados_alunos = pd.read_csv('Alunos.csv', sep= ';', decimal= ',')
dados_alunos.head()

   Sujeito Genero   Escola Posicao_Sala  Nota_Biol  Nota_Fis  Nota_Hist
0        1      M  Privada       Fundos        8.1       4.6        2.9
1        2      F  Privada       Fundos        5.3       4.9        6.4
2        3      M  Publica       Fundos        2.9       3.7        3.1
3        4      M  Publica       Fundos        3.7       3.8        4.9
4        5      F  Publica       Fundos        4.4       4.2        4.9

In [20]:
### Seleção das amostras
Fundos = dados_alunos.query('Posicao_Sala == "Fundos"').Nota_Biol
Frente = dados_alunos.query('Posicao_Sala == "Frente"').Nota_Biol

# Teste de normalidade dos dados

A função *shapiro* testa a hipótese nula $H_0$ de que a amostra é proveniente de uma distribuição normal.

$$\begin{cases} H_0 = \text{Dados vem de uma normal}\\H_1 = \text{Dados não vem de uma normal}\end{cases} $$

In [21]:
stat_test, p_valor = st.shapiro(Fundos)
print('P-valor: ', round(p_valor,2), ', nível de significancia (alfa):',  round(nivel_significancia,2))

P-valor:  0.07 , nível de significancia (alfa): 0.05

In [22]:
stat_test, p_valor = st.shapiro(Frente)
print('P-valor: ', round(p_valor,2), ', nível de significancia (alfa):',  round(nivel_significancia,2))

P-valor:  0.99 , nível de significancia (alfa): 0.05

# Teste de homogeinedade das variancias (variancias iguais)

A função *levene* testa a hipótese nula $H_0$ de que os grupos 1 (Frente) e 2 (Fundo) vêm de populações com desvios-padrão iguais.

$$\begin{cases} H_0: \text{as amostras possuem variâncias iguais}\\H_1:
\text{as amostras possuem variâncias diferentes}\end{cases} $$

In [23]:
stat_test, p_valor = st.levene(Fundos, Frente, center='mean')
print('P-valor: ', round(p_valor,2), ', nível de significancia (alfa):',  round(nivel_significancia,2))

P-valor:  0.32 , nível de significancia (alfa): 0.05

# Teste de hipotese independente

A função *ttest_ind* testa a hipótese nula $H_0$ de que os grupos 1 (Frente) e 2 (Fundo) tem o valor médio das notas de Biologia iguais

$$\begin{cases} H_0 = \text{Nota média do Fundo é igual a nota média da frente}\\H_1 = \text{Nota média do Fundo é diferente da nota média da frente}\end{cases} $$

In [24]:
stat_test, p_valor = st.ttest_ind(a=Fundos, b=Frente, equal_var=True , alternative='two-sided')
print('P-valor: ', round(p_valor,2), ', nível de significancia (alfa):',  round(nivel_significancia,2))

P-valor:  0.0 , nível de significancia (alfa): 0.05

In [25]:
#E se as variancias fossem diferentes?

stat_test, p_valor =  st.ttest_ind(a=Fundos, b=Frente, equal_var=False , alternative='two-sided')
print('P-valor: ', round(p_valor,2), ', nível de significancia (alfa):',  round(nivel_significancia,2))

P-valor:  0.0 , nível de significancia (alfa): 0.05

 <font color=green size=10>Teste de Hipótese</font>

##  Testes para Duas Amostras Dependentes
***

## <font color='red'>Problema</font>

Dataset contém informações de 275 individuos tratados com anticonvulsivante. A váriavel Convulsões indica o número de convulsões por dia de cada paciente: 

* Convulsoes_PT: Antes do inicio do tratamento
* Convulsoes_S1: Na primeira semana do tratamento
* Convulsoes_PT: Na sexta semana do tratamento

Vamos comparar e teste se houve diminuição das convulsões comparando antes do inicio do tratamento com a primeira semana do tratamento.

In [26]:
dados_pacientes = pd.read_csv('Convulsoes.csv', sep= ';', decimal= ',')

#Criando a variavel que é a diferença entre PT e S1
dados_pacientes['PTS1'] = dados_pacientes.Convulsoes_PT - dados_pacientes.Convulsoes_S1 
dados_pacientes

,ID_Paciente,ID_Medico,Genero,Data_Nasc,Convulsoes_PT,Convulsoes_S1,Convulsoes_S6,PTS1
0,382,HQQS,Masculino,11/25/1967,3,3,3,0
1,06YO,IKGU,Masculino,08/16/1967,4,5,4,-1
2,07GL,VLDP,Masculino,01/22/1972,3,1,2,2
3,07IT,SRKQ,Masculino,02/17/1987,7,7,4,0
4,827,WGSX,Feminino,02/09/1956,1,3,3,-2
...,...,...,...,...,...,...,...,...
270,Z155,ZGKI,Masculino,06/18/1991,1,2,2,-1
271,Z9U9,ISRM,Masculino,03/28/1956,1,1,1,0
272,ZGDT,XCNY,Masculino,02/20/1959,3,1,1,2
273,ZKA0,CQRJ,Masculino,06/14/1959,1,2,1,-1
274,ZQFQ,FPZO,Masculino,05/10/1969,2,1,2,1

In [27]:
stat_test, p_valor = st.shapiro(dados_pacientes.PTS1)
print('P-valor: ', round(p_valor,2), ', nível de significancia (alfa):',  round(nivel_significancia,2))

P-valor:  0.0 , nível de significancia (alfa): 0.05

# Teste de hipotese pareado (related)

A função *ttest_reg* testa a hipótese nula $H_0$ de que a diferença médias das convulsões do grupos 1 (Antes do tratamento- PT) e 2 (Primeira semana S1) é igual a zero.

$$\begin{cases} H_0 = \text{Diferença média de convulsões da semana antes do tratamento e da primeira semana = 0}\\H_1 = \text{Diferença média de convulsões da semana antes do tratamento e da primeira semana} \neq 0 \end{cases} $$

In [28]:
stat_test, p_valor = st.ttest_rel(dados_pacientes.Convulsoes_PT,dados_pacientes.Convulsoes_S1, alternative='greater')
print('Estatística de teste: ', round(stat_test,3), 'P-valor: ', round(p_valor,3), 
      ', nível de significancia (alfa):',  round(nivel_significancia,2))

Estatística de teste:  3.676 P-valor:  0.0 , nível de significancia (alfa): 0.05

# <font color=green size=10>Teste Anova - uma via</font>
***

## <font color='red'>Problema</font>

Dataset contém informações de 31 individuos tratados com placebo, um anti-hipertensivo já em uso no mercado e um anti-pertensivo novo. Vamos verificar se existe diferença na pressão sistolica dos individuos referente ao tratamento utilizado.

In [29]:
dados_tratamentos = pd.read_csv('Hipertensao.csv', sep= ';', decimal= ',')
dados_tratamentos.head(5)

   Sujeito    Grupo  Pressao      BC  Triglicerides  Glicemia
0       21  Placebo   175.33  356.33          65.84        93
1       30  Placebo   158.00  378.00         148.15       109
2       27  Placebo   163.67  397.33         115.23       112
3       20  Placebo   184.67  435.33          76.54       113
4       31  Placebo   171.67  365.33          73.25       115

In [30]:
Placebo = dados_tratamentos.query('Grupo == "Placebo"').Pressao
TratNovo = dados_tratamentos.query('Grupo == "AH Novo"').Pressao
Padrao = dados_tratamentos.query('Grupo == "AH Padrao"').Pressao

In [31]:
# Testando a normalidade dos dados 

stat_test, p_valor = st.shapiro(Placebo)
print('Placebo: P-valor: ', round(p_valor,2), ', nível de significancia (alfa):',  round(nivel_significancia,2))

stat_test, p_valor = st.shapiro(TratNovo)
print('TratNovo: P-valor: ', round(p_valor,2), ', nível de significancia (alfa):',  round(nivel_significancia,2))

stat_test, p_valor = st.shapiro(Padrao)
print('Padrao: P-valor: ', round(p_valor,2), ', nível de significancia (alfa):',  round(nivel_significancia,2))

Placebo: P-valor:  0.53 , nível de significancia (alfa): 0.05
TratNovo: P-valor:  0.28 , nível de significancia (alfa): 0.05
Padrao: P-valor:  0.72 , nível de significancia (alfa): 0.05

In [32]:
# Testando a homogeinedade das variancias 
stat_test, p_valor = st.levene(Placebo, TratNovo, Padrao, center='mean')
print('Padrao: P-valor: ', round(p_valor,2), ', nível de significancia (alfa):',  round(nivel_significancia,2))

Padrao: P-valor:  0.63 , nível de significancia (alfa): 0.05

# Comparando a média dos 3 grupos 



$$\begin{cases} H_0 = \text{A média dos 3 grupos são iguais} = 0 \\H_1 = \text{Pelo menos uma das médias é diferente}  \end{cases} $$

In [33]:
stat_test, p_valor = st.f_oneway(Placebo, TratNovo, Padrao )
print('P-valor: ', round(p_valor,2), ', nível de significancia (alfa):',  round(nivel_significancia,2))

P-valor:  0.01 , nível de significancia (alfa): 0.05

In [34]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

# Ordinary Least Squares (OLS) model
model = ols('Pressao ~ Grupo', data=dados_tratamentos).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

               sum_sq    df         F    PR(>F)
Grupo     3631.035134   2.0  5.520544  0.009526
Residual  9208.239137  28.0       NaN       NaN

# Teste Post hoc - detectando quais grupos são diferentes
* Duncan - Mais liberal 
* Bonferroni - Mais conservador 
* Tukey - hsd - Moderado

In [35]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd
m_comp = pairwise_tukeyhsd(endog=dados_tratamentos['Pressao'],
                           groups=dados_tratamentos['Grupo'], alpha=0.05)
print(m_comp)

#Verificamos que existe diferença entre os tratamentos,
#ou seja há efeito do tratamento sobre a pressão arterial.
#O post-hoc do teste de Tukey hsd mostrou que 
#existe diferença entre o placebo e entre o grupo de anti hipertensivo padrão.

    Multiple Comparison of Means - Tukey HSD, FWER=0.05
===========================================================
  group1    group2  meandiff p-adj   lower    upper  reject
-----------------------------------------------------------
  AH Novo AH Padrao  -8.8232 0.5455 -29.4362 11.7898  False
  AH Novo   Placebo  16.4169 0.1184  -3.3657 36.1996  False
AH Padrao   Placebo  25.2402 0.0081   6.0311 44.4493   True
-----------------------------------------------------------

# Teste qui-quadrado 

Vamos utilizar um conjunto de dados de RH da IBM do Kaggle (https://www.kaggle.com/datasets/pavansubhasht/ibm-hr-analytics-attrition-dataset)

In [36]:
dados_desgaste = pd.read_csv('Desgaste_funcionarios.csv', sep= ',')[['Attrition','JobSatisfaction']]
dados_desgaste.JobSatisfaction = dados_desgaste.JobSatisfaction.astype('category')
dados_desgaste.Attrition = dados_desgaste.Attrition.astype('category')
dados_desgaste.head()

  Attrition JobSatisfaction
0       Yes               4
1        No               2
2       Yes               3
3        No               3
4        No               2

# Teste de Hipótese

Para nosso teste Qui-quadrado de independência, vamos tstar a hipótese nula é que não existe relação significativa entre 'Desgaste' e 'Satisfação com trabalho.'.

A hipótese alternativa é que existe uma relação significativa entre 'Desgaste' e 'Satisfação com trabalho'.

### Tabela de Contingência

Para calcular a estatística do teste Qui-quadrado, precisaríamos construir uma tabela de contingência.
Podemos fazer isso usando a função 'crosstab' do pandas:

In [37]:
Cross = pd.crosstab(dados_desgaste.JobSatisfaction,dados_desgaste.Attrition, margins=False)
Cross

Attrition         No  Yes
JobSatisfaction
1                223   66
2                234   46
3                369   73
4                407   52

In [39]:
st.chi2_contingency(Cross)

(17.505077010348,
 0.0005563004510387556,
 3,
 array([[242.40612245,  46.59387755],
        [234.85714286,  45.14285714],
        [370.73877551,  71.26122449],
        [384.99795918,  74.00204082]]))